# exclude
*

# include
!/assets
!/collector
!/collector/*.py
!/collector/tests
!/collector/tests/*.py
!/gui
!/gui/*.py
!/gui/tests
!/gui/tests/*.py
!/indicators
!/indicators/*.py
!/indicators/tests
!/indicators/tests/*.py
!/plots
!/plots/*.py
!/plots/tests
!/plots/tests/*.py
!/screens
!/screens/*.py
!/screens/tests
!/screens/tests/*.py
!/statistics
!/statistics/*.py
!/statistics/tests
!/statistics/tests/*.py
!/stocks
!/stocks/*.py
!/stocks/tests
!/stocks/tests/*.py
!/utils
!/utils/*.py
!/utils/tests
!/utils/tests/*.py
!.gitignore
!config.py
!LICENSE
!Pipfile
!Pipfile.lock
!README.md
!requirements.txt
!setup.py
